@model IndexViewModel
@{
    ViewData["Title"] = "Hantera ditt konto";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Ändra dina konto inställningar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lösenord:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">byt lösenord</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Skapa ett lösenord</a>
            }
        </dd>
        <dt>Externa Loggins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>

    </dl>
</div>
